name: Build and Publish Image

on:
  push:
    tags:
      - 'v*.*.*'

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Version info
        id: vars
        run: |
          VERSION=${GITHUB_REF_NAME#v}
          SHORT_SHA=${GITHUB_SHA::7}
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          echo "short_sha=$SHORT_SHA" >> $GITHUB_OUTPUT

      - name: Login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ vars.REGISTRY }}/${{ vars.IMAGE_NAME }}:${{ steps.vars.outputs.version }}
            ${{ vars.REGISTRY }}/${{ vars.IMAGE_NAME }}:${{ steps.vars.outputs.version }}-${{ steps.vars.outputs.short_sha }}
            ${{ vars.REGISTRY }}/${{ vars.IMAGE_NAME }}:${{ steps.vars.outputs.short_sha }}
            ${{ vars.REGISTRY }}/${{ vars.IMAGE_NAME }}:latest
