name: CI

on:
  pull_request:
    branches:
      - development
      - main
  push:
    branches:
      - development

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Docker build (no push)
        run: docker build -t ci-check .
